*,*::before*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Galada', cursive;
    line-height: 1.6;
}
.wrapper {

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(90deg,#c60b0D,#920a0a);
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: 2;

}
.header__body {
    position: relative;
    /* z-index: 2; */
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo{
    flex: 0 35 206px;
    overflow: hidden;
    position: relative;
    z-index: 3;

}

.header__logo  img{
   max-width: 100%;
   display: block;
}
.header__burger{
    display: none;
}
.header__menu{
    padding: 20px;
    box-sizing: border-box;
}
.header__menu ul{
    margin-top: 20px;
    margin-bottom: 1rem;
 }

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin-left: 20px;
}
.header__list li a{
    text-decoration: none;
    border-radius: 5px;
}
.header__list li a:hover{
    color: white;
}
.header__link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

@media(max-width: 767px){
    body.lock {
        overflow: hidden;
    }

    .header__logo{
        flex: 0 0 40px;
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: rgba(0, 0, 0, 0.95);
        padding: 70px 10px 20px 10px;

     }

     .header__menu.active {
         top: 0;
     }

     .header__list{
         display: block;
     }

     .header__list li{
         margin:0px 0px 20px 0px;
     }

     .header__link {
         font-size: 24px;
     }
}
.header-part{
    background-image: url("../img/headpicbig.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content{
    padding: 100px 0px 0px 0px ;
}
.content__text {
    font-size: 16px;
    line-height: 25px;
}
.content__text p{
    margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
    .content {
        padding: 70px 0px 0px 0px ;
    }
}

.welcome-area{
    padding: 100px 0px;
    text-align: center;

}
.welcome-content{
    background-color: #f1f1f2;
    background-image: url("../img/fontbox.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 25px 0 rgba(0,0,0,.4);
    width: 330px;
    margin-left: 600px;
    margin-top: 30px;
    text-align: left;
    padding: 30px;
}
.table-section{
    background: linear-gradient(90deg,#c60b0D,#ff0f11);
    border-radius: 20px;
    padding: 30px;
    margin: -10px;
    margin-top: 8px;
    color: white;
}
table td{
    padding: 5px;
}
.wbhr{
    border: #bbbdc0 solid 1px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 18px;
}
.wbhr-item{
    border: #bbbdc0 solid 1px;
    width: 400px;
    margin-top: 8px;
    margin-bottom: 18px;
}
.blog-section{
    padding: 10px 0px;
}
.item1{
    background-image: url("../img/prefon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);

}

.item2{
    background-image: url("../img/prefon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);


}
.item3{
    background-image: url("../img/okkbah.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);


}


.item4{
    background-image: url("../img/keybrd.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);


}
.item5{
    background-image: url("../img/deshub.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);


}

.item6{
    background-image: url("../img/tshirt.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,0.58);


}
.v1{
    border-left: 2px solid #900;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.free-font-section{
    padding: 20px 0px;
    margin: 0px auto;
 
}
#free-text{
    text-align: center;
    background-image: url("../img/download.svg");
    background-position: center;
    background-size: cover;
    width: 38%;
    margin: 0px auto;
    padding: 13px;
    font-size: 36px;
    border-radius: 14px;;
 
  
}
#free-text a{
    text-decoration: none;
    color: white;
}
.setting-content{
    padding: 20px 0px;
    margin: 21px 0px;
    text-align: center;
    background-image: url("../img/download.svg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#NameText{
    width: 93%;
    border-radius: 5px;
    border: none;
    padding: 9px;
}
#RangeOption{
    margin-top: 2px;
    font-size: 28px;
}
.free-font-blog-content{
    background: red;
    background-image: url("../img/download.svg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px 6px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    
}
.btn-text{
    position: absolute;
    bottom: 8px;
    left: 120px;
    background: white;
    padding: 3px 23px;
    border-radius: 14px
}
.btn-text a{
    text-decoration: none;
}
.vieo-content-section{
    padding: 20px 0px;
}
.ytvideo{
    border-radius: 29px;
    height: 213px;
}
.footer-area{
    background: black;
    padding: 50px 0px;
}
.footer-menu ul{
    list-style: none;
}
.footer-menu ul li{
   display: inline-block;
}
.footer-menu ul li small a{
    text-decoration: none;
    color: white;
    font-size: 23px;

 }
 .left-footer-content p small{
    color: #c2dde8;
    margin-left: 41px;
    font-size: 18px;
    
 }
 .right-footer-icon ul{
     list-style: none;
 }
 .right-footer-icon ul li{
    display: inline-block;
}
.right-footer-icon ul li a i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(252, 252, 252);
    font-size: 25px;
    margin: 0px 5px;
    border-radius: 50px;
}



